<%= form_for(@turma) do |f| %>
  <% if @turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
      <% @turma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nomeTurma %><br />
    <%= f.text_field :nomeTurma , :size =>50%>
  </div>
	<div class="field">
    <% @alunotodo.each do |c|%>
	<%= check_box_tag "turma[aluno_ids][]",c.id%>
	<%= c.nome%><%= c.idade%>
	<% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
